<!DOCTYPE html>
<html>
    <head>
    <TITLE>テキストボックスお試し</TITLE>
    </head>
    <body>
    <h1>Webアプリ初心者のFlaskチュートリアル</h1>
    <FORM METHOD=post ACTION="…">
    記入：<INPUT TYPE=text NAME=TEXT1 SIZE=20>
    <BR>　　　<INPUT TYPE=reset>　　　<INPUT TYPE=submit>
    </FORM>
    <BR>
    <FORM METHOD=post ACTION="…">
    記入：<TEXTAREA NAME=TEXT2 ROWS=4 COLS=20>
    </TEXTAREA>
    <BR>　　　<INPUT TYPE=reset>　　　<INPUT TYPE=submit>
    </FORM>
    メモ帳などから開き、ACTION＝"…"の部分を任意のリンクに書き換えて下さい。
    <BR>下のテキストボックスは右下から引き延ばすことが出来ます。

    </body>
</html>