<!DOCTYPE html>

<html>
    <head>
        <title>「紙」すごろくメイキング</title>
        <style>
            h1 {
                font-size: 25pt;
                font-family: メイリオ, Osaka;
                color: darkblue;
            }
            h2 {
                font-size: 15pt;
                font-family: メイリオ, Osaka;
            }
        </style>
    </head>

    <body>
        <h1>
        「紙すごろくメイキング」
        </h1>
        <table border="0">
            <tr>
                <h2>
                    <ul>
                        <td width="100" align="center" bgcolor="#ffa500">
                            <a HREF="/form" target="create">フォーマット</a>
                        </td>
                        <td width="100" align="center" bgcolor="#9acd32">
                            <a HREF="/input" target="create">編集</a>
                        </td>
                        <td width="100" align="center" bgcolor="#dda0dd">
                            <strong>作成</strong>
                        </td>
                    </ul>
                </h2>
            </tr>
        </table>
        <br>
        <center><img src="/static/images/kidoyuki3.png" WIDTH=500></center>
        <br>
        <center><a href="./static/images/kidoyuki3.png" download>すごろくを保存</a></center>
        <br>
        <form action="/input" method="post" id="input1">
            <input type="hidden" name="map" value={{map}}>
            <center><input type="submit" class="btn btn-success" value="戻る"></center>
        </form>
    </body>
</html>